@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

element.style {
}
body, .page-header, #transition-page {
    background-color: #D92E46;
}
body {
    background-color: #fff;
    color: #D92E46;
    font-family : 'Poppins' , sans-serif;
    font-size: 13px;
    line-height: 18px;
}
body {
    color: #D92E46;
    background: #f4f4f4;
    font-family : 'Poppins' , sans-serif;
    font-size: 16px;
    line-height: 1.61538;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
    word-break: initial;
}
body {
    font-family : 'Poppins' , sans-serif;
    font-size: 16px;
    line-height: 1.61538;
    color: #D92E46;
    background-color: #fff;
}
body {
    margin: 1;
}
body {
    font-family : 'Poppins' , sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
body {
    font-family : 'Poppins' , sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: black;
    background-color: #D92E46;
}
@media (max-width: 767px)
.seo-page h1 {
    font-size: 18px;
    line-height: 21px;
}
.seo-page h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: white;
}
.text-center {
    text-align: center;
}
.text-center {
    text-align: center;
}
@media (max-width: 768px)
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}
h1 {
  font-family : 'Poppins' , sans-serif;
    margin-top: 0;
    font-size: 2.441em;
}
h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    letter-spacing: -1px;
    font-family : 'Poppins' , sans-serif;
    font-weight: inherit;
    line-height: 1.25;
}
h1, .h1 {
    font-size: 41px;
    font-family : 'Poppins' , sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 25px;
    margin-bottom: 12.5px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family : 'Poppins' , sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family : 'Poppins' , sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: center;
}

@media (max-width: 767px)
.mp-card {
    padding: 15px 20px;
}
.mp-card {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.09);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 25px;
    padding: 50px 50px;
}
form {
    display: block;
    margin-top: -1em;
}
div {
    display: block;
}
label {
    cursor: default;
}
.modal-form .form-row input, .modal-form .form-row select {
    display: inline;
}
select.form-control {
    width: 15%;
}
.form-control {
    border-radius: 5px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control {
    display: block;
    width: 10%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.61538;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input, textarea, select, .uneditable-input {
    padding: 4px;
    position: center;
    color: #444455;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
user agent stylesheet
select {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
.modal-form .form-row {
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
}
input[type="number" i] {
    padding: 1px 2px;
    position: center;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.btn:not(.no-shadow) {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.btn {
    border-radius: 10px;
}
.mb5 {
    margin-bottom: 5px !important;
}
.btn-default {
    color: black;
    background-color: #fff;
    border-color: #D92E46;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #D92E46;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.61538;
    border-radius: 4M<px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    border-radius: 2px;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
    border-color: initial;
    border-radius: initial;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
i {
    font-style: italic;
}
.btn:hover{
  background-color: #D92E46;
  color: white;
}
